# Full configuration explanation in wiki
# Wiki: https://aglerr.gitbook.io/wiki/theonly-series/the-only-donations
####################################################################
# (options)
#   (useUUID) Should we use UUID when trying to get the player's head skin?
#             (Recommended set this to 'false' if you're on a cracked server)
options:
  useUUID: true

# Configuration Explanation
# (donationsMessage)
#   (messageWithAvatar)
#     (enabled) Should we use avatar images when donation is broadcasted?
#     (messages)
#       (header....footer) Messages that will appear when donation is being broadcasted
#   (messageWithoutAvatar)
#     (messages) Messages that will appear when donation is being broadcasted
#                 in condition if the (messageWithAvatar) is disabled.
#                 You can add as many lines as you want.
#
# Are you interested in using hex color? Check the wiki for example!
# Link: https://aglerr.gitbook.io/wiki/theonly-series/the-only-donations/plugins-files#example-usage
donationsMessage:
  messageWithAvatar:
    enabled: true
    messages:
      header: "&6&m--------------------------------------------"
      line1: " &6» &l{player} &ejust donated!"
      line2: " &6» Store: &7store.example.com"
      line3: ""
      line4: " &6&lMONTHLY GOAL &7(${goal_current_donation}/${goal_donation_goal})"
      line5: " {goal_progress_bar} &7{goal_percentage}%"
      line6: ""
      line7: " &6Product: {product_displayname} &7(${product_price})"
      line8: " &7(( Help us keep the server alive! ))"
      footer: "&6&m--------------------------------------------"
  messageWithoutAvatar:
    messages:
      - ""
      - " &6» &l{player} &7just donated!"
      - " &6» Store: &7store.example.com"
      - ""
      - " &6&lMONTHLY GOAL &7(${goal_current_donation}/${goal_donation_goal})"
      - " {goal_progress_bar} &7{goal_percentage}%"
      - ""
      - " &6Product: {product_displayname} &7(${product_price})"
      - ""
      - " &7(( Help us keep the server alive! ))"


# Configuration Explanation
# (events) List of events that will be played on donation perform
#   (effect) This event will give everyone a list of potions effects
#     (enabled) Should we enabled this event?
#     (effects) The list of potions effects that will be given to all players online
#               Format: POTION;AMPLIFIER;(DURATION (in seconds))
#               List of PotionEffectType https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/potion/PotionEffectType.html
#   (sound) The list of sounds that will be played upon donation
#           Format: SOUND_NAME;VOLUME;PITCH
#           List of Sounds: https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Sound.html
#   (titleBar) This event will send everyone a title bar message
#     (enabled) Should we enabled this event?
#     (title) The title of the title bar
#     (subTitle) The sub title of the title bar
#     (fadeIn) How long should the fade-in animation played? (in ticks - 20 ticks = 1 second)
#     (stay) How long should the title bar displayed? (in ticks - 20 ticks = 1 second)
#     (fadeOut) Howlong should the fade-out animation played? (in ticks - 20 ticks = 1 second)
#   (command) This event will executed a command from console
#     (enabled) Should we enabled this event?
#     (commands) A list of commands that will get executed
#                Available Placeholders:
#                - {player} - return the donor's name
events:
  effect:
    enabled: true
    effects:
      - "SPEED;3;30"
      - "JUMP;5;30"
      - "FAST_DIGGING;3;30"
      - "NIGHT_VISION;3;30"
  sounds:
    - "ENTITY_PLAYER_LEVELUP;1.0;1.0"
    - "BLOCK_LAVA_POP;1.0;1.0"
  titleBar:
    enabled: true
    title: "&e&l{player} just donated!"
    subTitle: "&fEveryone will receive special effects!"
    fadeIn: 20
    stay: 60
    fadeOut: 20
  command:
    enabled: true
    commands:
      - "broadcast &aThanks {player} for the donation, everyone will receive a key!"
      - "crazycrates giveall virtual vote 5"

# Configuration Explanation
# (donationGoal)
#   (enabled) Should we enable donation goal module?
#   (donationGoal) How much is the donation goal?
#   (progressBar)
#     (barLength) How long is the progress bar?
#     (symbol) The symbol that will be used for the progress bar (Recommended: '|' or '█')
#     (completedColor) What is the completed color for the progress bar
#     (notCompletedColor) What is the un-completed color for the progress bar
#       Available Colors:
#       - AQUA
#       - BLACK
#       - BLUE
#       - DARK_AQUA
#       - DARK_BLUE
#       - DARK_GRAY
#       - DARK_GREEN
#       - DARK_PURPLE
#       - DARK_RED
#       - GOLD
#       - GRAY
#       - GREEN
#       - LIGHT_PURPLE
#       - RED
#       - WHITE
#       - YELLOW
donationGoal:
  enabled: true
  donationGoal: 500
  progressBar:
    barLength: 15
    symbol: '█'
    completedColor: GREEN
    notCompletedColor: RED
  commandsOnReach:
    - "broadcast &aWe have reached the donation goal!"

messages:
  noPermission: "&cYou don't have enough permissions!"
  reload: "&aYou have reloaded the configuration"
  invalidProduct: "&cThere is no product with that name"
  performDonation: "&aYou have perform a donation for &e{player}"
  reset: "&aYou have resetted the Current Donation"
  help:
    - "&e&lDonations Help &7- by aglerr"
    - "&e- /donations help &7- send this messages"
    - "&e- /donations reload &7- reload the configuration"
    - "&e- /donations reset &7- reset the current donation &c(EXPERIMENTAL)"
    - "&e- /donations send <player> <product> &7- perform a donation task in the server"
